

@{
    ViewBag.Title = "GetStatisticResult";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />

<div class="card bg-info text-white" style="width: 18rem;">
    <div class="card-body">
        <h5 class="text-center ">Kategori Sayısı</h5>
        <br />
        <p class="text-center" style="font-size:30px">@ViewBag.result1</p>
    </div>
</div>


<div class="card bg-danger text-white" style="width: 18rem;">
    <div class="card-body">
        <h5 class="text-center ">Yazılım Kategorisindeki Başlık Sayısı</h5>
        <br />
        <p class="text-center" style="font-size:30px">@ViewBag.result2</p>
    </div>
</div>


<div class="card bg-warning text-white" style="width: 18rem;">
    <div class="card-body">
        <h5 class="text-center ">Adında "A" Harfi Bulunan Yazar Sayısı</h5>
        <br />
        <p class="text-center" style="font-size:30px">@ViewBag.result3</p>
    </div>
</div>


<div class="card bg-success text-white" style="width: 18rem;">
    <div class="card-body">
        <h5 class="text-center ">En Fazla Başlığa Sahip Kategori Adı</h5>
        <br />
        <p class="text-center" style="font-size:30px">@ViewBag.result4</p>
    </div>
</div>


<div class="card bg-blue text-white" style="width: 18rem;">
    <div class="card-body">
        <h5 class="text-center ">True-False Farkı</h5>
        <br />
        <p class="text-center" style="font-size:30px">@ViewBag.result5</p>
    </div>
</div>




